

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.favorite:hover {
    cursor: pointer;
}

.glyphicon-heart {
    color: red;
    font-size: 130%;
}

.glyphicon-heart-empty {
    font-size: 130%;
}