

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.favorite:hover {
    cursor: pointer;
}

.glyphicon-heart {
    color: #990000;
    font-size: 130%;
    padding-right: 10px;
    padding-left: 10px;
}

.glyphicon-heart-empty {
    font-size: 130%;
    padding-right: 10px;
    padding-left: 10px;
}

ul {
  list-style-image: url(../img/bullet.gif);
}

h1, h2, h3 {
    color: #CC3300;
    margin-bottom: -6px;
}

.navbar{
    color:  #000033;
}