

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.favorite:hover {
    cursor: pointer;
}

.glyphicon-heart {
    color: #990000;
    font-size: 130%;
    padding-right: 10px;
    padding-left: 10px;
}

.glyphicon-heart-empty {
    font-size: 130%;
    padding-right: 10px;
    padding-left: 10px;
}

ul {
  list-style-image: url(../img/bullet.gif);
}

h1, h2, h3 {
    color: #CC3300;
    margin-bottom: -3px;
}

.navbar{
    background-image: linear-gradient(rgb(255, 255, 255) 0px, #ffffcc 100%);
    border-bottom-color: #FFCC66;
    border-bottom-width: 3px;
    color: #990000;
}


.navbar a {
    color: #CC3300;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav>.active>a  {
    background-image: linear-gradient(white 0px, #FFCC66 120%);
    color: #990000;
}

.navbar-nav>li>a:hover {
    /*background-image: linear-gradient(white 0px, #990000 100%);*/
    background-image: linear-gradient(white 0px, #FFCC66 120%);
    color: #990000;

}


.icon-bar {
    background-color: #990000;
}

.badge {
    background-color: #FC6;
}

.jumbotron {
    background-color: #FFFFEE;
}